/* Style the list */

ul.breadcrumb {
    padding: 4px;
    max-width: 70%;
    overflow-x: hidden;
    list-style: none;
    text-align: start;
    font-size: smaller;
    position: absolute;
    overflow-y: hidden;
    border-width: thin;
    white-space: nowrap;
    padding-right: 32px;
    scroll-behavior: smooth;
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-right-radius: 8px;
}

ul.breadcrumb::-webkit-scrollbar {
    height: 4px;
}

ul.breadcrumb::-webkit-scrollbar-thumb {
    height: 4px;
}

ul.breadcrumb::-webkit-scrollbar-thumb:active {
    filter: brightness(0.6);
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    filter: brightness(0.6);
    padding: 4px;
    content: "/";
}

.breadcrump-item input {
    opacity: 0;
    height: 0;
    width: 0;
}

.breadcrump-item label {
    filter: brightness(0.6);
}

.breadcrump-item :checked:focus+label {
    outline-color: currentcolor;
    outline: thin solid;
}