@import "./variables.css";
* {
  font-family: var(--font-family-normal);
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: var(--outline-padrao);
}

*[selected="true"] {
  background-color: var(--main-select-color);
}

*[selected="true"]:hover {
  background-color: var(--main-select-color) !important;
}

html, body, #root, .App {
  background-color: var(--main-background);
  overflow: hidden;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
}

div {
  background-color: var(--color-transparent);
  display: flex;
}

input, textarea, select {
  background-color: var(--main-background-bars);
  padding: var(--size-s);
  border-radius: var(--size-xxs);
  padding-right: var(--size-xxs);
  padding-left: var(--size-xxs);
  border: var(--input-border);
  color: var(--color-white);
}

input:focus, textarea:focus, select:focus {
  background-color: var(--main-background-input-focus);
  outline: var(--outline-none);
}

/* Remove os botões da input de texto */

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  all: unset;
  background-color: var(--main-background-bars);
  border-radius: var(--size-xxs);
  margin-right: var(--margin-s);
  border: var(--input-border);
  padding: var(--size-xxs);
  height: var(--size-m);
  width: var(--size-m);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--color-primary);
}

/* Ajusta o scroll de todos os elementos. */

::-webkit-scrollbar {
  width: var(--size-x-scroll-bar);
  height: var(--size-x-scroll-bar);
}

::-webkit-scrollbar-corner {
  background-color: var(--color-transparent);
}

::-webkit-scrollbar:horizontal {
  height: var(--size-x-scroll-bar-horizontal);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: var(--color-transparent);
}

* {
  scrollbar-color: var(--color-scroll-bar) var(--main-background);
}

::-webkit-scrollbar-thumb {
  scrollbar-width: thin;
  background-color: var(--color-scroll-bar);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-bar-hover);
  scrollbar-color: var(--color-scroll-bar-hover) var(--main-background);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scroll-bar-active);
  scrollbar-color: var(--color-scroll-bar-active) var(--main-background);
}

.mini-scroll-bar {
  scrollbar-color: var(--color-scroll-bar-active) var(--main-background);
}

.mini-scroll-bar::-webkit-scrollbar {
  width: var(--size-x-scroll-bar-small);
}

.mini-scroll-bar::-webkit-scrollbar-thumb {
  width: var(--size-x-scroll-bar-small);
}